body{
    font-family: 'Open Sans', sans-serif;
}
iframe{
    width: 100%;
    height: 300px;
    border: 1px solid #efefef;
}
h1{
    font-size: 1.7em;
    margin-bottom: 1em;
}
h2{
    font-size: 1.3em;
}

h2.questions{
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
}
#questions {
    list-style: none;
    padding: 0;
}
    #questions .thumbnail{
        width: 100%;
        margin-bottom: 0.5em;
    }
    #questions li hr{
        margin: 1em 0;
        border-top: 1px solid #dcdcdc;
    }

    #askModal textarea{
        height: 200px;
    }

.addthis_sharing_toolbox{
    display: inline-block;
}
#sharethis{
    display: inline-block;
    vertical-align: top;
    font-size: .85em;
    margin-right: 5px;
}
footer{
    font-size: .9em;
    margin-top: 2em;
    border-top: 1px dotted #ccc;
    padding-top: 1em;
    margin-bottom: 2em;
}

#addToFavs{
    vertical-align: middle;
    margin-left: .5em;
    margin-bottom: .3em;
}