html, body, #map {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size:13px;
}
input,
.simpleGeocoder .esriGeocoderContainer{ 
  font-family: 'Open Sans', sans-serif; 
}

#search {
	display: block;
	position: absolute;
	z-index: 3;
	top: 20px;
	left: 75px;
}
  .simpleGeocoder .esriGeocoderContainer{
    width: 250px;
  }

.simpleGeocoder .esriGeocoder,
.esriSimpleSlider,
.simpleGeocoder .esriGeocoderResults{
	border: 0;
	border-radius: 0;
}
.esriSimpleSlider{
  margin-top: 40px;
}

#map_zoom_slider{
	background-color: rgba(0,0,0,0);
}
#map_zoom_slider > div{
	background-color: white;
	border: 0;
	border-radius: 0;
	margin-bottom: 10px;
	width: auto;
	height: auto;
	padding: 6px 7px;
	font-size: 14px;
	line-height: 14px;
}