<html ng-app="tutorialsApp">
<head>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Ejemplos: API JavaScript de ArcGIS</title>
    <link rel="shortcut icon" href="/JavascriptAPI/favicon.ico">

    <meta name="description" content="Aprender gratis a usar ArcGIS con AngularJS, Leaflet, jQuery, Bootstrap y mucho más.">
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Ejemplos: API JavaScript de ArcGIS <small id="addToFavs" ng-click="addToFavourites()" class="btn btn-warning btn-xs">Añadir a favoritos</small></h1>
			</div>
			<div class="col-md-12 text-center" style="margin-bottom: 1em;">
				<div class="form-inline">
					<div class="form-group">
						<label for="tutos" class="control-label">Selecciona uno: </label>
						<select id="tutos" class="form-control" ng-model="tuto" ng-change="update()">
							<option ng-repeat="t in tutorials | filter : { name : '!!' } | orderBy: 'o'" value='{{t.i}}' on-finish-render="ngRepeatFinished">{{t.name}}</option>
						</select>
                        <p style="margin-top: .5em;">
                            <small>
                                Compartir:
                                <a ng-href="http://esri-es.github.io/JavascriptAPI/#/{{tutorials[tuto].o}}">
                                    http://esri-es.github.io/JavascriptAPI/#/{{tutorials[tuto].o}}
                                </a>
                            </small>
                        </p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<h2 class="text-center">
                    <a ng-href="{{url | trusted}}" target="_blank">
                        Preview <i class="fa fa-external-link"></i>
                    </a>
                </h2>
				<iframe id="preview" ng-src="{{url | trusted}}"></iframe>

                <h2 class="questions"><a href="https://github.com/esri-es/JavascriptAPI/issues">Preguntas de la comunidad</a></h2>
				<p ng-hide="issues.length" style="margin:1em 0 0">No hay preguntas sin responder</p>
                <ul id="questions" class="row">
                    <li ng-repeat="i in issues">
                        <div class="col-md-12 separator"><hr></div>
                        <div class="col-md-3 text-center">
                            <a ng-href="{{i.user.html_url}}"><img ng-src="{{i.user.avatar_url}}" class="thumbnail"></a>
                            <small><a href="{{i.user.html_url}}">@{{i.user.login}}</a></small>
                        </div>
                        <div class="col-md-9">
                            <p><strong><a href="{{i.html_url}}">{{i.title}}</a></strong></p>
                            <p>{{i.body}}</p>
                            <p><small><i class="fa fa-calendar"></i> {{i.created_at | date:'dd/MM/yyyy'}} | <i class="fa fa-comments"></i> <a href="{{i.html_url}}"> <ng-pluralize count="i.comments" when="{'1': '{{i.comments}} respuesta', 'other': '{{i.comments}} respuestas'}"></a></small></p>
                        </div>
                    </li>
                </ul>

                <div class="row">

                    <p class="col-md-12" ng-hide="access_token">
                        <a href="https://github.com/login/oauth/authorize?client_id=ce4e38e910c46181cfaf&scope=public_repo" id="code" class="btn btn-block btn-default" style="margin-top:1em" target="blank">
                            <i class="fa fa-github"></i> Autentifícate para poder preguntar
                        </a>
                    </p>

                    <div ng-show="access_token" class="ng-hide" style="margin-top:1em" >
                        <div class="col-md-5">
                            <p>
                                <button class="btn btn-block btn-danger" ng-click="close()">
                                    <i class="fa fa-times"></i> Cerrar
                                </button>
                            </p>
                        </div>
                        <div class="col-md-7">
                            <p>
                                <button class="btn btn-block btn-default"  data-toggle="modal" data-target="#askModal">
                                    <i class="fa fa-paper-plane"></i> Hacer una pregunta
                                </button>
                            </p>
                        </div>
                    </div>
                </div>


			</div>
			<div class="col-md-8">
				<h2>
                    Código
                    <a ng-href="{{html_url | trusted}}" id="code" class="btn btn-xs pull-right btn-primary"  target="blank">Abrir código en otra pestaña</a>
                </h2>
                <p ng-bind-html="description"></p>

                <pre id="htmlCode" class="prettyprint lang-html" ng-class="class" ng-bind-html="htmlCode | escapeHtml | pretty"></pre>


                <div id="sharethis">¿Crees que merece la pena compartirlo?</div> <div class="addthis_sharing_toolbox"></div>

			</div>
		</div>

        <footer class="text-center">
            <strong>Made with <i class="fa fa-heart-o"></i> using HTML5</strong> | <a href="https://github.com/esri-es/JavascriptAPI/labels/bugs">Errores</a> |
            <a href="https://github.com/esri-es/JavascriptAPI/labels/enhancement">Sugerir nuevos tutoriales</a><!--| Live Editing |-->
        </footer>
	</div>

    <div class="modal large fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ng-submit="submit()">
                    <div class="modal-header">
                        <h4 class="modal-title">Enviar pregunta</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="exampleInputEmail1">Tutorial</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" value="{{tutoTitle}}" readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Pregunta</label>
                            <textarea class="form-control" id="exampleInputPassword1" ng-model="question"></textarea>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </div>
                </form>
            </div>

        </div>


    </div>

	<a href="https://github.com/esri-es/JavascriptAPI/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-sanitize.js"></script>
	<script src="js/main.js"></script>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56026e6347d3e8f6" async="async"></script>
</body>
</html>

<!-- http://rawgit.com/showdownjs/showdown/master/dist/showdown.js -->
